Source: kdeedu
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Daniel Schepler <schepler@debian.org>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt,
 kdelibs5-dev (>= 4:4.0.0-1), libphonon-dev (>= 4:4.0.0-1), ocaml,
 libfacile-ocaml-dev, libopenbabel-dev, libeigen-dev, libboost-python-dev,
 libcfitsio3-dev (>=3.040-5), libreadline5-dev, libusb-dev, libnova-dev
Standards-Version: 3.7.3
Homepage: http://edu.kde.org/

Package: kdeedu
Architecture: all
Depends: blinken (>= ${source:Version}), indi (>= ${source:Version}),
 kalgebra (>= ${source:Version}), kalzium (>= ${source:Version}),
 kanagram (>= ${source:Version}), kbruch (>= ${source:Version}),
 kgeography (>= ${source:Version}), khangman (>= ${source:Version}),
 kig (>= ${source:Version}), kiten (>= ${source:Version}),
 klettres (>= ${source:Version}), kmplot (>= ${source:Version}),
 kpercentage (>= ${source:Version}), kstars (>= ${source:Version}),
 ktouch (>= ${source:Version}), kturtle (>= ${source:Version}),
 kwordquiz (>= ${source:Version}), marble (>= ${source:Version}),
 parley (>= ${source:Version})
Description: educational applications from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes educational applications provided with the
 official release of KDE 4.

Package: kdeedu-dbg
Architecture: any
Section: libdevel
Priority: extra
Depends: kdebase-runtime-dbg
Suggests: kdeedu (= ${source:Version})
Description: debugging symbols for the KDE 4 education module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 education module.

Package: blinken
Architecture: any
Section: games
Depends: ${shlibs:Depends}, ttf-sjfonts
Suggests: khelpcenter
Description: KDE 4 version of the Simon electronic memory game
 Blinken is based on an electronic game released in 1978, which
 challenges players to remember sequences of increasing length.  On
 the face of the device, there are 4 different color buttons, each
 with its own distinctive sound.  These buttons light up randomly,
 creating the sequence that the player must then recall.  If the
 player is successful in remembering the sequence of lights in the
 correct order, they advance to the next stage, where an identical
 sequence with one extra step is presented.
 .
 This package is part of the KDE 4 education module.

Package: kalgebra
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Description: algebraic graphing calculator for KDE 4
 KAlgebra is a algebraic graphing calculator with support for 3D graphing and
 MathML markup language.
 .
 This package is part of the KDE 4 education module.

Package: kalzium
Architecture: any
Section: science
Depends: ${shlibs:Depends}, kalzium-data (>= ${source:Version})
Suggests: khelpcenter
Description: periodic table and chemistry tools for KDE 4
 Kalzium is a full-featured chemistry application for KDE 4, including a
 Periodic Table of Elements, chemical reference, chemical equation solver, and
 3D molecule viewer.
 .
 This package is part of the KDE 4 education module.

Package: kalzium-data
Architecture: all
Section: science
Description: data files for Kalzium
 This package contains architecture-independent data files for Kalzium, the
 KDE periodic table application.
 .
 This package is part of the KDE 4 education module.

Package: kanagram
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: jumble word puzzle for KDE 4
 KAnagram is a game where a random word is shown with its letters scrambled.
 To win, the player must rearrange the letters into the correct order.
 .
 This package is part of the KDE 4 education module.

Package: kbruch
Architecture: any
Section: math
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: fraction learning aid for KDE 4
 KBruch is an aid for learning how to calculate with fractions.
 .
 This package is part of the KDE 4 education module.

Package: kgeography
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, kgeography-data (>= ${source:Version})
Suggests: khelpcenter
Description: geography learning aid for KDE 4
 KGeography is an aid for learning about world geography.  You can use it to
 explore a map, show information about regions and features, and play quiz
 games to test your geography knowledge.
 .
 This package is part of the KDE 4 education module.

Package: kgeography-data
Architecture: all
Section: kde
Description: data files for KGeography
 This package contains architecture-independent data files for the
 KGeography geography learning tool, including maps, capitals, and flags.
 .
 This package is part of the KDE 4 education module.

Package: khangman
Architecture: any
Section: games
Depends: ${shlibs:Depends}, ttf-dustin
Suggests: khelpcenter
Description: Hangman word puzzle for KDE 4
 KHangMan is the well-known Hangman game, aimed towards children aged 6 and
 above.
 .
 It picks a random word which the player must reveal by guessing if it contains
 certain letters.  As the player guesses letters, the word is gradually
 revealed, but 10 wrong guesses will end the game.
 .
 This package is part of the KDE 4 education module.

Package: kig
Architecture: any
Section: math
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: interactive geometry tool for KDE 4
 Kig is an application for interactive geometric construction, allowing
 students to draw and explore mathematical figures and concepts using the
 computer.
 .
 Kig supports macros and is scriptable using Python.  It can import and export
 files in various formats, including SVG, Cabri, Dr. Geo, KGeo, KSeg, and XFig.
 .
 This package is part of the KDE 4 education module.

Package: kiten
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, ttf-kochi-gothic | ttf-kochi-mincho
Suggests: khelpcenter
Description: Japanese reference and study aid for KDE 4
 Kiten is a collection of Japanese reference tools and study aids for KDE 4,
 including a Japanese/English dictionary, Kanji dictionary, and Kanji quiz.
 .
 This package is part of the KDE 4 education module.

Package: klettres
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, klettres-data (>= ${source:Version})
Suggests: khelpcenter
Description: foreign alphabet tutor for KDE 4
 KLettres is an aid for learning how to read and pronounce the alphabet of a
 foreign language.
 .
 Seven languages are currently available: Czech, Danish, Dutch, English,
 French, Italian and Slovak.
 .
 This package is part of the KDE 4 education module.

Package: klettres-data
Architecture: all
Section: kde
Description: data files for KLettres foreign alphabet tutor
 This package contains architecture-independent data files for KLettres,
 the foreign alphabet tutor for KDE 4.
 .
 This package is part of the KDE 4 education module.

Package: kmplot
Architecture: any
Section: math
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: mathematical function plotter for KDE 4
 KmPlot is a powerful mathematical plotter KDE 4, capable of plotting multiple
 functions simultaneously and combining them into new functions.
 .
 Cartesian, parametric, and differential functions are supported, as well as
 functions using polar coordinates.  Plots are printed with high precision at
 the correct aspect ratio.
 .
 KmPlot also provides numerical and visual features such as filling and
 calculating the area between the plot and the first axis, finding maxima and
 minima, changing function parameters dynamically, and plotting derivatives
 and integral functions.
 .
 This package is part of the KDE 4 education module.

Package: kpercentage
Architecture: any
Section: math
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: percentage calculation learning aid for KDE 4
 KPercentage is an aid for learning how to calculate with percentages.
 .
 This package is part of the KDE 4 education module.

Package: kstars
Architecture: any
Section: science
Depends: ${shlibs:Depends}, kstars-data (>= ${source:Version}), indi (= ${binary:Version})
Suggests: konqueror, khelpcenter
Description: desktop planetarium for KDE 4
 KStars is a desktop planetarium for KDE 4, depicting an accurate graphical
 simulation of the night sky, from any location on Earth, at any date and time.
 The display includes 130,000 stars, 13,000 deep-sky objects, all 8 planets,
 the Sun and Moon, and thousands of comets and asteroids.  It includes tools
 for astronomical calculations and can control telescopes and cameras.
 .
 This package is part of the KDE 4 education module.

Package: kstars-data
Architecture: all
Section: science
Description: data files for KStars desktop planetarium
 This package contains architecture-independent data files for KStars,
 the graphical desktop planetarium for KDE, including star catalogues and
 astronomical images.
 .
 This package is part of the KDE 4 education module.

Package: ktouch
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: touch typing tutor for KDE 4
 KTouch is an aid for learning how to type with speed and accuracy.  It
 provides a sample text to type and indicates which fingers should be used for
 each key.
 .
 A collection of lessons are included for a wide range of different languages
 and keyboard layouts, and typing statistics are used to dynamically adjust the
 level of difficulty.
 .
 This package is part of the KDE 4 education module.

Package: kturtle
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: Logo educational programming environment for KDE 4
 KTurtle is an educational programming environment which uses the Logo
 programming language to make programming as easy and accessible as possible.
 .
 The user issues Logo language commands to control the "turtle", which draws on
 the canvas, making KTurtle suitable for teaching elementary mathematics,
 geometry and programming.
 .
 This package is part of the KDE 4 education module.

Package: kwordquiz
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: flashcard learning program for KDE 4
 KWordQuiz is a general purpose flashcard program, typically used for
 vocabulary training.
 .
 KWordQuiz can open vocabulary data in various formats, including the kvtml
 format used by KDE programs such as Parley, the WQL format used by
 WordQuiz for Windows, the xml.gz format used by Pauker, and CSV text.
 .
 This package is part of the KDE 4 education module.

Package: libkdeedu4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Conflicts: libkdeedu1
Replaces: libkdeedu1
Description: libraries for KDE 4 educational applications
 This package contains shared libraries used by KDE 4 educational applications.
 It provides support for data plotting and vocabulary data in the kvtml format.
 .
 This package is part of the KDE 4 education module.

Package: libkdeedu-dev
Architecture: any
Section: libdevel
Depends: libkdeedu4 (= ${binary:Version}), kdelibs5-dev (>= 4:4.0.0-1)
Description: development files for the KDE 4 educational libraries
 This package contains development files for building software that uses the
 KDE 4 educational libraries.
.
 This package is part of the KDE 4 education module.

Package: libkiten4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, edict, kanjidic
Replaces: libkiten1
Conflicts: libkiten1
Recommends: ttf-kochi-gothic | ttf-kochi-mincho
Description: libraries for the Kiten Japanese reference and study aid
 This package contains shared libraries, language data, and resources used by
 the the Kiten Japanese reference and study aid.  Portions of this library,
 such as dictionary and character lookup widgets, may be useful for other
 applications.
 .
 This package is part of the KDE 4 education module.

Package: libkiten-dev
Architecture: any
Section: libdevel
Depends: libkiten4 (= ${binary:Version}), kdelibs5-dev (>= 4:4.0.0-1)
Description: development files for the Kiten Japanese reference libraries
 This package contains development files for building software that uses the
 Kiten Japanese reference libraries.
 .
 This package is part of the KDE 4 education module.

Package: indi
Architecture: any
Section: science
Depends: ${shlibs:Depends}
Description: Instrument Neutral Distributed Interface for astronomical devices
 Instrument Neutral Distributed Interface is a Distributed Control System
 protocol to enable control, data acquisition and exchange among hardware
 devices and software front ends, with particular focus on astronomical
 instrumentation.  It supports a wide variety of astronomical instruments
 including telescopes, CCDs, focusers, filters, and video capture devices.
 .
 This package is part of the KDE 4 education module.

Package: marble
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, libmarble4 (= ${binary:Version}),
 marble-data (>= ${source:Version})
Description: Marble globe and map widget
 Marble is a generic geographical map widget and framework for KDE 4
 applications. The Marble widget shows the earth as a sphere but does not
 require hardware acceleration.  A minimal set of geographical data is
 included, so it can be used without an internet connection.
 .
 This package is part of the KDE 4 education module.

Package: marble-data
Architecture: all
Section: kde
Description: data files for Marble
 This package contains the architecture-independent data files for the Marble
 desktop globe.
 .
 This package is part of the KDE 4 education module.

Package: libmarble4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Marble globe widget library
 This package contains shared libraries for the Marble globe widget.
 .
 This package is part of the KDE 4 education module.

Package: libmarble-dev
Architecture: any
Section: libdevel
Depends: libmarble4 (= ${binary:Version}), kdelibs5-dev (>= 4:4.0.0-1)
Description: development files for the Marble globe widget library
 This package contains development files for building software that uses the
 Marble globe widget library.
 .
 This package is part of the KDE 4 education module.

Package: parley
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, ${perl:Depends}, libwww-perl,
 parley-data (>= ${source:Version})
Suggests: khelpcenter
Description: vocabulary trainer for KDE 4
 Parley is a utility to help train vocabulary when learning a foreign language.
 It is intended as a replacement for flash cards.
 .
 This package is part of the KDE 4 education module.

Package: parley-data
Architecture: all
Section: kde
Description: data files for the Parley vocabulary trainer
 This package contains architecture-independent data files for the Parley
 vocabulary trainer.
 .
 This package is part of the KDE 4 education module.
